:root {
    --gutter-width: 10%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

* {
    scroll-margin-block: 10dvh;
}

body {
    --main-layout:
            [full-width-start left-gutter-start]
            var(--gutter-width)
            [left-gutter-end content-start]
            1fr
            [content-end right-gutter-start]
            var(--gutter-width)
            [right-gutter-end full-width-end];
    display: grid;
    grid-template-columns: var(--main-layout);

    & > * {
        grid-column: content;
    }

    & > header,
    & > footer {
        grid-column: full-width;
    }
}

main {
    grid-column: full-width;
    display: grid;
    grid-template-columns: var(--main-layout);

    & > * {
        grid-column: content;
    }
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
}

:target > :first-child::before {
    content: "# ";
    opacity: .5;
    font-weight: normal;
}

h1, h2 {
    text-align: left;
}

h1 {
    color: darkcyan;
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: lighter;
}
h2:first-child {
    margin-top: 0;
}
h2:has(+ small) {
    margin-bottom: 0;
    & + small {
        display: block;
        margin-bottom: .83rem;
    }
}

small {
    color: grey;
}

strong, b, em {
    color: darkcyan;
    font-weight: bolder;
}

button {
    --border-radius: 10px;
    border-radius: var(--border-radius);
    padding: 1rem 3ch;
    border: none;
    background-color: darkcyan;
    color: white;
    font-weight: bolder;
}

section p::first-letter {
    font-size: 1.5em;
    color: darkcyan;
}

:any-link:not(.call-to-action) {
    color: inherit;
    display: inline-block;
    --background-color: hsl(215 100% 50%);
    text-decoration: none;
    position: relative;

    &::before {
        z-index: -1;
        position: absolute;
        content: "";
        background-color: var(--background-color);
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        transition: height 100ms linear;
    }

    &:hover::before,
    &:focus-visible::before {
        height: 100%;
    }

    &:hover,
    &:focus-visible,
    &:hover *,
    &:focus-visible * {
        color: inherit;
    }
}

.call-to-action {
    display: block;
    background-color: darkcyan;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: .75rem;
    text-decoration: none;
    &::after {
        content: "→";
        margin-inline-start: .5rem;
        font-weight: bolder;
    }
}
section .call-to-action {
    align-self: end;
}

nav {
    grid-column: full-width;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul,
menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

menu {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    border-bottom: 2px solid lightgrey;
    backdrop-filter: blur(30px);
    background-color: hsla(0 100% 100% / .7);
}

menu :any-link:not(.call-to-action) {
    --background-color: hsla(180deg 100% 27.25% / .2);
    display: block;
    padding: 1em;
}

menu li {
    position: relative;

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 15%;
        bottom: 15%;
        border: 1px solid hsl(180deg 29.23% 87.25%);
        border-radius: 50%;
        translate: 50%;
        z-index: 1;
    }
}

svg {
    height: 1lh;
    padding: 2px;
    fill: currentColor;
}

.landing {
    --gutter-width: 1fr;
    grid-column: full-width;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: var(--gutter-width) [content-start] minmax(300px, 3fr) [content-end] 3fr var(--gutter-width);
    align-items: center;

    & > .content {
        grid-column: content;
        display: flex;
        flex-direction: column;
    }

    position: relative;
    color: white;
    justify-items: end;

    & > img {
        grid-column: 1 / -1;
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(2px) brightness(55%);
    }

    view-timeline: --squash block;
    animation-timeline: --squash;

    animation-name: squash;
    animation-fill-mode: both;
    animation-duration: 1ms;
    animation-range: exit 0% exit 100%;
}

@keyframes squash {
    from {
        min-height: 100dvh;
    }
    to {
        min-height: 50dvh;
    }
}

section {
    grid-column: full-width;
    display: grid;
    grid-template-columns: var(--main-layout);

    & > :not(.content) {
        grid-column: full-width;

        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;

        view-timeline: --subjectReveal block;
        animation-timeline: --subjectReveal;

        animation-name: sharpen;
        animation-fill-mode: both;
        animation-duration: 1ms;
        animation-range: entry contain;
    }
    & > .content {
        grid-column: content;
    }

    & .content {
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    & button {
        align-self: end;
    }
}
@media (min-aspect-ratio: 1/1) {
    section {
        grid-template-columns: [image-start] 50% [image-end content-start] 1fr [content-end];
        justify-items: start;

        &:nth-of-type(2n) {
            grid-template-columns: [content-start] 1fr [content-end image-start] 50% [image-end];
        }

        & > :not(.content) {
            grid-row: 1/-1;
            grid-column: image;
        }
    }
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 2px solid hsla(180deg 100% 27.25% / .2);
    background-color: hsla(180deg 100% 27.25% / .05);
    padding: 1em 5%;
    gap: 1em;

    & nav > ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    & nav li:has(> a:only-child > svg:only-child) {
        display: inline;
    }
    & small {
        color: black;
    }
}

@keyframes sharpen {
    from {
        filter: blur(10px);
    }
    to {
        filter: blur(0);
    }
}

label {
    position: relative;
    display: block;
    margin-bottom: -.6em;
    margin-left: 1ch;
    padding-inline: 1ch;
    z-index: 1;
    background-color: white;
    width: fit-content;
    font-weight: bold;
}

textarea {
    resize: vertical;
}

input,
textarea {
    width: 100%;
}

input,
textarea,
input:only-of-type + button {
    padding: 1em;
    border-radius: 10px;
    border: 2px solid darkcyan;
}

input,
input:only-of-type + button {
    height: 3em;
}

input:only-of-type:has(+ button) {
    width: revert;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

input:only-of-type + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    padding: 0 2ch;
}

aside ul {
    padding: 0;
    list-style: none;
}

input[type="email"] {
    min-width: 30ch;
}

.before-after {
    position: relative;
    & > * {
        position: absolute;
        inset: 0;
    }
    & > :first-child {
        overflow: hidden;
        width: 50%;
        max-width: 100%;
        resize: horizontal;
        z-index: 1;

    }
    & pre {
        background-color: white;
        border: 1px solid black;
        margin: 0;
        clip: rect(0, auto, auto, 0);
        & code {
            position: fixed;
            display: block;
            inset: 0;
            align-content: center;
            text-align: center;
        }
        .theme {
            display: inline-block;
            text-align: center;
            width: 5ch;
        }
    }
}

aside {
    border: 1px solid darkcyan;
    border-radius: 0 25px;
    &:nth-child(2n + 1) {
        border-radius: 25px 0;
    }
    padding: 25px;
    margin-block: 2rem;

    & h2 {
        margin: 0;
    }

    width: fit-content;
    justify-self: center;
}

main > div {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
}
