:root {
    --gutter-width: 20%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

* {
    scroll-margin-block: 10dvh;
}

body {
    font-family: system-ui, sans-serif;
    --main-layout:
            [full-width-start left-gutter-start]
            var(--gutter-width)
            [left-gutter-end content-start]
            1fr
            [content-end right-gutter-start]
            var(--gutter-width)
            [right-gutter-end full-width-end];
    display: grid;
    grid-template-columns: var(--main-layout);
    margin: 0;
}
:target > :first-child::before {
    content: "# ";
    opacity: .5;
}

body > * {
    grid-column: content;
}
body > header,
body > footer {
    grid-column: full-width;
}

h1, h2 {
    text-align: left;
}
h1 {
    color: darkcyan;
}
h2 {
    font-size: 2em;
}
strong, b, em {
    color: darkcyan;
}
button {
    background-color: darkcyan;
    color: white;
    font-weight: bolder;
}


nav {
    grid-column: full-width;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav ul,
menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
menu {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    border-bottom: 1px solid black;
    backdrop-filter: blur(2px);
    background-color: hsla(0 100% 100% / .7);
}
menu a {
    display: block;
    padding: 1em;
    &:hover, &:focus-visible {
        background-color: hsla(180deg 100% 27.25% / .2);
    }
}
menu li {
    position:relative;

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 15%;
        bottom: 15%;
        border: 1px solid hsl(180deg 29.23% 87.25%);
        border-radius: 50%;
        translate: 50%;
        z-index: 1;
    }
}

.landing {
    --gutter-width: 15%;
    grid-column: full-width;
    height: 100dvh;
    display: grid;
    grid-template-columns: var(--gutter-width) [content-start] 1fr [content-end] 1fr var(--gutter-width);
    grid-template-rows: 1fr auto 1fr;
    & > h1 {
        align-self: end;
    }
    & > * {
        grid-column: content;
    }
    position: relative;
    color: white;
    justify-items: end;
    & > img {
        grid-column: 1 / -1;
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(2px);
    }

    view-timeline: --squash block;
    animation-timeline: --squash;

    animation-name: squash;
    animation-fill-mode: both;
    animation-duration: 1ms;
    animation-range: exit 0% exit 25%;
}

@keyframes squash {
    from {
        height: 100dvh;
    }
    to {
        height: 70dvh;
    }
}

section {
    --gutter-width: 10%;
    grid-column: full-width;

    display: grid;
    grid-template-areas:
            "photo title ."
            "photo paragraph .";
    grid-template-columns: 2fr 1fr var(--gutter-width);
    grid-template-rows: auto auto;
    gap: 3ch 1em;
    justify-items: start;
    &:nth-of-type(2n) {
        grid-template-areas:
            ". title photo"
            ". paragraph photo";
        grid-template-columns: var(--gutter-width) 1fr 2fr;
        justify-items: end;
    }

    & > img {
        grid-area: photo;
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;

        view-timeline: --subjectReveal block;
        animation-timeline: --subjectReveal;

        animation-name: sharpen;
        animation-fill-mode: both;
        animation-duration: 1ms;
        animation-range: entry contain;
    }
    & > h2 {
        grid-area: title;
        margin: 0;
        align-self: end;
    }
    & > p {
        grid-area: paragraph;
        margin: 0;
        align-self: start;
    }
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 2px solid hsla(180deg 100% 27.25% / .2);
    background-color: hsla(180deg 100% 27.25% / .05);
    padding: 1em 5%;
    gap: 1em;
    & nav > ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    & nav > ul ul {

    }
}

@keyframes sharpen {
    from {
        filter: blur(10px);
    }
    to {
        filter: blur(0);
    }
}

aside {
    border: 1px solid darkcyan;
    border-radius: 0 25px;
    padding: 25px;
    margin-block: 2rem;
    & h2 {
        margin: 0;
    }
    width: fit-content;
    justify-self: center;
}

label {
    position: relative;
    display: block;
    margin-bottom: -.6em;
    margin-left: 1ch;
    padding-inline: 1ch;
    z-index: 1;
    background-color: white;
    width: fit-content;
    font-weight: bold;
}

input, input + button {
    height: 3em;
    border-radius: 10px;
    border: 2px solid darkcyan;
}
input:has(+ button) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
input + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
aside ul {
    padding: 0;
    list-style: none;
}
input[type="email"] {
    min-width: 30ch;
}
